
/* For everything */
*{
    box-sizing: border-box;
}

.register_form{
    background-color: f6f6f6;
    padding: 100px;
}

.logg{

}

#s_tab {
    background: #f8f8f8;
    line-height: 36px;
    height: 38px;
    padding: 55px 0 0 121px;
    float: none;
}
.s_tab {
    line-height: 18px;
    padding: 20px 0 0;
}
