
/* For everything */
*{
    box-sizing: border-box;
}

.clearfix{
    clear: both;
}

.register_form{
    background-color: f6f6f6;
    padding: 100px;
}

.left40px{
    margin-left: 40px;
}

#s_tab {
    background: #f8f8f8;
    line-height: 36px;
    height: 38px;
    padding: 55px 0 0 121px;
    float: none;
}
.s_tab {
    line-height: 18px;
    padding: 20px 0 0;
}

.text_boder{
    border: 1px black solid;
    margin:20px 5px;
}

.p_not_change_line{
    padding: 0px;
    margin: 0px;
}