.body_tick {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .circle {
    stroke-dasharray: 57;
    stroke-dashoffset: 57;
  }
  
  input[type="checkbox"]:checked + svg .circle {
    animation: circle 2s ease-in-out;
    animation-fill-mode: forwards;
  }
  
  .tick {
    stroke-dasharray: 30;
    stroke-dashoffset: 30;
  }
  
  input[type="checkbox"]:checked + svg .tick {
    animation: tick 2s ease-out;
    animation-fill-mode: forwards;
    animation-delay: 2.8s;
  }
  
  @keyframes circle {
    from {
      stroke-dashoffset: 57;
    }
    to {
      stroke-dashoffset: 114;
    }
  }
  
  @keyframes tick {
    from {
      stroke-dashoffset: 30;
    }
    to {
      stroke-dashoffset: 0;
    }
  }