.clearfix{
    clear: both;
}

.left40px{
    margin-left: 40px;
}

.margin_left_20px{
    margin-left: 20px;
}

.status_button{
    width: 35px;
    height: 25px;
    margin-left: 10px;
}

.text_boder{
    border: 1px black solid;
    margin:20px 5px;
}



body{
    background-color: #EAEDED;
}