<!doctype html>
<html>
	<head>
		{% block head %}
		<!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<!-- icon -->
		<link rel="shortcut icon" href="../static/quiz_icon.png" >

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <title>{% block title %}{% endblock %}</title>

	    {% endblock %}
    </head>
	
	<body>

		{% block navbar %}
		<div class="navbar navbar-inverse" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Navigation</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a  href="{{ url_for('index') }}">Home</a></li>
						{% if current_user.is_anonymous %}
						<li><a  href="{{ url_for('login') }}">Log in</a></li>
						{% else %}
						<li><a  href="{{ url_for('logout') }}">Log out</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
		{% endblock %}

        {% block body %}


		<article>
			{% block content %}
            
			{% endblock %}
		</article>
		{% endblock %}

		<hr>
		<h5 style="margin-left: 15px;">This page</h5>
		<div style="margin-left: 30px;">
			<p>Written by:</p>
			<ul>
				<li>22636589 Mingchuan Tian</li>
				<li>22762872 Ruida He</li>
				<li>22797012 Jiayu Wu</li>
				<li>22541459 Hanlin Zhang</li>
			</ul>
		</div>
		
		<hr>
			<!-- define the time block with id cg -->
			<p class="p_not_change_line"><b>Current time: </b><span id="cg" class="p_not_change_line"> 2016/12/21 am 12:00:00</span></p>

			<!--cg is the id of span,change Date time to the String type,each 1000 ms will fresh once, setInterval() call the function, until close the web-->
			<script>
				setInterval("cg.innerHTML=new Date().toLocaleString('en-us')",1000);
			</script>
	</body>
</html>