{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
{{ super() }}
{% endblock %}

{% block title %}
Change Avatar
{% endblock %}

{% block body %}
{% block content %}

<div class = "avartar">

    <br><br>

    <h4>Your current avartar</h4>
    <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}"> <br><br>
    <p>Change your avatar by changing your email</p> <br>
    <div class = "change_avatar" style = "width:60%; margin-left: auto; margin-right: auto;">
        {{ wtf.quick_form(changeAvatarForm)}}
        </div>

</div>

{% endblock %}
{% endblock %}