{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
{{ super() }}
<!---refers to a css that contains styling for register page
<link rel="stylesheet" href="style.css">
-->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css', _external=True) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='tick_css.css', _external=True) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='teachercss.css', _external=True) }}">


<!--js doc-->
<script type="text/javascript" src="{{url_for('static', filename='jsdocs.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='quiz_edit_submit.js')}}"></script>

{% endblock %}

{% block title %}
User Registration
{% endblock %}


{% block body %}



{% block logo %}
{{ super() }}
{% endblock %}

{% block content %}
<h2>Hello, 
    {% if current_user.is_authenticated %}
    {% if current_user.title %}
    {{ current_user.title }}
    {% endif %}
    {{ current_user.name}}
    {% endif %} !
</h2>

<hr>

<div style="margin-left: 5px;" class="body_tick">

    <table style="background-color: #ede7d3;margin: 5px;">
        <tr>
            <td style="background-color: orange;">&emsp;&emsp;</td>
            <td style="padding-left: 10px;"><h3 style="font-weight: 800;">Welcome to the quiz editing page!</h3><br>
            <div style="font-weight: 450; font-family: Georgia, 'Times New Roman', Times, serif;">    
            Please insert the QuizID then click the button "Start Editing Quiz" to edit the  quiz. Plese make sure you insert the correct QuizID!
            <br><br>
            </div>
            <br>
        </td>
        </tr>
    </table>
    <br>
   
    <!--
    <select method = "GET" action="/">
        {% for quizsetID in exist_quizes %}
        <option value="{{ quizsetID }}" SELECTED>
            {{ quizsetID }}
        </option>
        {% endfor %}
    </select>

    --->

    <div style="margin-left: 5px;">
        {{ wtf.quick_form(form)}}
    </div>

    <button class="quiz_submit_button" onclick="back_teacher_page()" style="width: 18%;">Back to the teacher page</button>
</div>



{% endblock %}
{% endblock %}