{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css', _external=True) }}">

<style>
    .profile {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
</style>

{% endblock %}

{% block title %}
Student
{% endblock %}

{% block body %}
{% block content %}

<br><br>

<div class = "profile">
    {{ wtf.quick_form(EditProfileForm)}}
</div>

{% endblock %}
{% endblock %}

