{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<!-- the profile editing page -->
{% block head %}
{{ super() }}
{% endblock %}
{% block title %}
Profile editing
{% endblock %}
{% block body %}
{% block content %}
<h2>Hello, 
   {% if current_user.is_authenticated %}
   {% if current_user.title %}
   {{ current_user.title }}
   {% endif %}
   {{ current_user.name}}
   {% endif %} !
</h2>
<hr>
<br><br>
<div class = "profile">
   {{ wtf.quick_form(EditProfileForm)}}
</div>
{% endblock %}
<br><br><br><br><br><br>
{% endblock %}