{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
{{ super() }}
<!---refers to a css that contains styling for register page
<link rel="stylesheet" href="style.css">
-->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css', _external=True) }}">
<script type="text/javascript" src="{{url_for('static', filename='quiz_edit_submit.js')}}"></script>

{% endblock %}

{% block title %}
Create a new quiz
{% endblock %}


{% block body %}
{% block logo %}
{{ super() }}
{% endblock %}
{% block content %}
<table style="background-color: #ede7d3;margin: 10px;">
    <tr>
        <td style="background-color: orange;">&emsp;&emsp;</td>
        <td style="padding-left: 10px;"><h3 style="font-weight: 800;">Welcome to create a new quiz!</h3><br>
        <div style="font-weight: 450; font-family: Georgia, 'Times New Roman', Times, serif;">    
        Each time when you finish a qustion edit, please click the "Save" button to save your question and move to the next qustion. All the questions will save to the database. Please make sure you insert the correct quiz id and quiz name!
        
        </div>
        <br>
    </td>
    </tr>
</table>


{% for i in range(current_question, question_num + 1) %}
<div class = "quiz">
    {{ wtf.quick_form(quizEditForm)}}
    </div> 
{% endfor %}

<button class="quiz_submit_button" onclick="submit_new_quiz()">click to finish creating</button>

<div class="clearfix">

</div>


{% endblock %}
{% endblock %}


