{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
{{ super() }}

{% endblock %}

{% block title %}
Mark the quiz
{% endblock %}

{% block body %}

{% block logo %}
{{ super() }}
{% endblock %}


{% block content %}

<br><br>

<div class = "quizID">
    <h3 style="margin-left: 5px; margin-bottom: 20px;">Please insert the quiz number to the quiz you want to mark!</h3> <br>
    <div class = "quiz" style = "width:60%; margin-left: auto; margin-right: auto;">
    {{ wtf.quick_form(form)}}
    </div>
</div>
{% endblock %}

{% endblock %}



