{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
{{ super() }}
<!---refers to a css that contains styling for register page
<link rel="stylesheet" href="style.css">
-->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css', _external=True) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='tick_css.css', _external=True) }}">
{% endblock %}

{% block title %}
Student
{% endblock %}


{% block body %}
{{ super() }}
{% endblock %}

{% block content %}
<h2>Hello, 
    {% if current_user.is_authenticated %}
    {% if current_user.title %}
    {{ current_user.title }}
    {% endif %}
    {{ current_user.name}}
    {% endif %} !
</h2>

<hr>


<div style="margin-left: 5px;">

    <table style="background-color: #ede7d3;margin: 10px;">
        <tr>
            <td style="background-color: orange;">&emsp;&emsp;</td>
            <td style="padding-left: 10px;"><h3 style="font-weight: 800;">Welcome to the quiz page!</h3><br>
            <div style="font-weight: 450; font-family: Georgia, 'Times New Roman', Times, serif;">    
            Please insert the quiz id that the teacher give to you and click the "Start Quiz" button below to start your quiz. If you do not have a quiz id, please check your email or contact to your unit coordinator!
            <br><br>
            In this page, you can view your grade by click the "View grades" button or click "View ranking" button to see your rank in the class.
            </div>
            <br>
        </td>
        </tr>
    </table>

</div>

<div class = "loginQuizForm" style = "padding-left: 100px;">
    {{ wtf.quick_form(loginQuizForm)}}
</div>




{% endblock %}