{% extends "base2.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
{{ super() }}
<!---refers to a css that contains styling for register page
<link rel="stylesheet" href="style.css">
-->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css', _external=True) }}">


{% endblock %}

{% block title %}
User Login
{% endblock %}

{% block body %}
<img class="logo" alt = "uwaLogo" src = "{{ url_for('static', filename='logo1.jpg', _external=True) }}" style = "display:block; margin-left:auto; margin-right:auto; width:40%;">
<table style="background-color: #ede7d3;margin: 10px;">
    <tr>
        <td style="background-color: orange;">&emsp;&emsp;</td>
        <td style="padding-left: 10px;"><h3 style="font-weight: 800;">Login to the quiz page</h3><br>
        <div style="font-weight: 450; font-family: Georgia, 'Times New Roman', Times, serif;">    
        Please use your email and password to log in to the quiz page! If you are a stuff, you will log in to the stuff page, otherwise you will go to the student page! 
        If you do not have an account yet, plese click the button "Home" at the left top side corner to create a new account!
        <br><br>
        For the email and password, please use the email and password that you use when you create your quiz account.
        </div>
        <br>
    </td>
    </tr>
</table>
<br>
{{ super() }}
{% endblock %}

{% block content %}
<div class = "login_form">
{{ wtf.quick_form(loginForm)}}
</div>
<br><br><br><br><br>
{% endblock %}