{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
{{ super() }}

{% endblock %}

{% block title %}
Log out
{% endblock %}

{% block body %}
{% block content %}

<div class = "notify">

    <br><br>

    <div class = 'Notification' style="font-size: 30px; font-weight: 500;">
        <div id = 'notif'>{{ content }}</div>
    </div>
            

    <br><br>
    
    <form action= "{{ link }}" >
        <button action="button" type="submit" class="btn btn-primary btn-lg">{{ buttonText }}</button>
    </form>

</div>
    
{% endblock %}
{% endblock %}