{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
{{ super() }}
<!---refers to a css that contains styling for register page
<link rel="stylesheet" href="style.css"> -->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css', _external=True) }}">
<link rel="stylesheet" href="{{ url_for('static', filename='tick_css.css', _external=True) }}">

<!--js doc-->
<script type="text/javascript" src="{{url_for('static', filename='quiz_edit_submit.js')}}"></script>

<style>
    .notify {
        text-align: center;
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }
</style>

{% endblock %}

{% block title %}
Log out
{% endblock %}

{% block body %}
{% block content %}

<div class = "notify">

    <br><br>

    <div class = 'Notification' style="font-size: 30px; font-weight: 500;">
        <div id = 'notif'>{{ content }}</div>
    </div>
            

    <br><br>
    
    <form action= "{{ link }}" >
        <button action="button" type="submit" class="btn btn-primary btn-lg">{{ buttonText }}</button>
    </form>

</div>
    
{% endblock %}
{% endblock %}