{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
{{ super() }}
{% endblock %}
{% block title %}
Start Quiz Edit
{% endblock %}
{% block body %}
{% block content %}
<h2>Hello, 
   {% if current_user.is_authenticated %}
   {% if current_user.title %}
   {{ current_user.title }}
   {% endif %}
   {{ current_user.name}}
   {% endif %} !
</h2>
<hr>
<div class = "Edit_questions">
   <br>
   <h3 style = "font-weight: 600;">The question is : {{ Question.query.filter_by(id=current_question_id).first().Question }}</h3>
   <br>
   {{ wtf.quick_form(form)}}
</div>
{% endblock %}
<br><br><br><br><br><br>
{% endblock %}