{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
{{ super() }}
<!---refers to a css that contains styling for register page
<link rel="stylesheet" href="style.css">
-->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css', _external=True) }}">

<style>
    .Mark_answer {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
</style>

{% endblock %}

{% block title %}
Start Quiz Edit
{% endblock %}

{% block body %}
{% block content %}

<div class = "Mark_answer">

    <br>

    <h3 style = "font-weight: 600;">The answer is : {{ answer }}</h3>

    <br>
    
    <div class = "quiz">
    {{ wtf.quick_form(form)}}
    </div>

</div>

{% endblock %}
{% endblock %}

