{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
{{ super() }}
<!---refers to a css that contains styling for register page
<link rel="stylesheet" href="style.css">
-->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css', _external=True) }}">

{% endblock %}

{% block title %}
Start Quiz Edit
{% endblock %}

{% block body %}
{% block content %}

<div class = "Edit_questions">

    <br>

    <h3 style = "font-weight: 600;">The question is : {{ Question.query.filter_by(id=current_question_id).first().Question }}</h3>

    <br>

    {{ wtf.quick_form(form)}}

</div>

{% endblock %}
{% endblock %}

