{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
{{ super() }}
<!---refers to a css that contains styling for register page
<link rel="stylesheet" href="style.css">
-->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css', _external=True) }}">

{% endblock %}

{% block title %}
Start Quiz Edit
{% endblock %}

{% block body %}
{% block content %}

<h3>{{ answer }}</h3>
<div class = "quiz">
{{ wtf.quick_form(form)}}
</div>

{% endblock %}
{% endblock %}

