{% extends "base2.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
{{ super() }}
<!---refers to a css that contains styling for register page
<link rel="stylesheet" href="style.css">
-->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css', _external=True) }}">

{% endblock %}

{% block title %}
Start Quiz Edit
{% endblock %}

{% block body %}
<img class="logo" alt = "uwaLogo" src = "{{ url_for('static', filename='logo.jpeg', _external=True) }}">
<table style="background-color: #ede7d3;margin: 10px;">
    <tr>
        <td style="background-color: orange;">&emsp;&emsp;</td>
        <td style="padding-left: 10px;"><h3 style="font-weight: 800;">Welcome to answer the quiz page!</h3><br>
        <div style="font-weight: 450; font-family: Georgia, 'Times New Roman', Times, serif;">    
        Each time when you finish a qustion answer, please click the "Save" button to save your question and move to the next qustion. All the answers will save to the database. Please make sure you insert the correct answer into the answer form and click the button "save button", if you do not click it to save, you might loose all your answers!
        <br><br>
        Please try to finish all the question in time and finish it by your own work!
        </div>
        <br>
    </td>
    </tr>
</table>

<div class="text_boder" style="background-color: white; margin: 15px;">
    <div class="left40px" style="margin-bottom: 20px;">
        <div class="wrap" style="margin-top: 20px; font-weight: 500;background-color: whitesmoke;font-size: 30px;">Total time: 60 min &emsp;&emsp;&emsp;Time left : <span class="time_min"></span> minutes &emsp;<span class="time_sec"></span> seconds</div>
            <script type="text/javascript">
                var timeEle = document.querySelector('.time'),
                timeEle_sec = document.querySelector('.time_sec'),
                timeEle_min = document.querySelector('.time_min'),
                    count   = 3600,
                    second = count%60;
                    min = Math.floor(count/60);
                //timeEle.innerHTML = count;
                // set the timer
                var judge = setInterval(function() {
                    count--;
                    second = count%60;
                    min = Math.floor(count/60);
                    if (!count) {
                        // clean the timer
                        clearInterval(judge);
                        alert("time is up!");
                    };
                    // show the current timer time
                    //timeEle.innerHTML = count;
                    timeEle_sec.innerHTML = second;
                    timeEle_min.innerHTML = min;
                }, 1000);
            </script>
        </div>
</div>

{{ super() }}

{% endblock %}

{% block content %}


<p style="font-weight: 600; font-size: 30px;">Your teacher is: {{ teacher_name }}</p>
{% for i in range(current_question, question_num + 1) %}
<p style="font-weight: 450; font-size: larger; margin-top: 20px;">Your quesiton is: {{ Question.query.filter_by(quizset_id=QuizsetID, id= i + prev_num).first().Question }}</p>
<div class = "quiz">
    {{ wtf.quick_form(form)}}
    </div> 
{% endfor %}

<hr style="margin: 20px; margin-bottom: 5px; margin-bottom: 10px;">
<i style="margin-left: 40px; margin-top: 10px; font-size: 16px; color: #5D6D7E ;">Click Submit button to submit your answers or click check all to check all the answers finished or not.</i>
<br><br>
<form action= {{ url_for('finishQuiz') }}>
    <button action="button" type="submit" class="btn btn-info" style="margin-top: 10px; margin-right: 20px;float: right;">&ensp;&ensp;Finish Quiz&ensp;&ensp;</button>
</form>
<div class="clearfix"></div>

{% endblock %}