{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
{{ super() }}
<!---refers to a css that contains styling for register page
<link rel="stylesheet" href="style.css">
-->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css', _external=True) }}">
{% endblock %}

{% block title %}
User Registration
{% endblock %}


{% block body %}
{{ super() }}
{% endblock %}

{% block content %}
<h1>Hello, 
    {% if current_user.is_authenticated %}
    {{ current_user.name}}
    {% endif %} !
</h1>
<p>You are logged in as teacher!</p>

<form action="startEditQuiz">
    <button action="button" type="submit">Edit Quiz</button>
</form>

<div class = "loginQuizForm">
    {{ wtf.quick_form(loginQuizForm)}}
</div>


<form action="logout">
    <button action="button" type="submit">Log out</button>
</form>


{% endblock %}