<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--js doc-->
    <script type="text/javascript" src="{{url_for('static', filename='jsdocs.js')}}"></script> 
    <title>Document</title>
</head>
<body>
    <!--test start here-->
<div>
    <p>insert the web: </p>
    <p>
        <input type="text" id="url" value="">
        <input type="button" value="submitted it" onclick="loadPage()">
    </p>
</div>

<div>
    <h3>
        place to load the file
    </h3>
    <iframe style="width: 100%; height: 500px;" id="iframePosition">

    </iframe>
</div>


<!--test end here-->
</body>
</html>