{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
{{ super() }}

{% endblock %}

{% block title %}
View the grade
{% endblock %}

{% block body %}
{% block content %}

<div class = "grade"> 

    <br>

    <h1> Here's your grade of each answer.</h1>

    <br>

    {% for key in grade_dict %} 

    <h3>Your answer : <span class = "common">{{ Answer.query.filter_by(id=(str(key).split(',')[0])).first().Answer }}</span></h3>
    <h3>Mark: <span class = "common">{{ str(key).split(',')[1] }}</span> </h3>
    <h3>Comment: <span class = "common">{{ str(key).split(',')[2] }}</span></h3>

    <br>
    <hr>
    <br>
    {% endfor %}

</div>

<br><br><br><br><br>
{% endblock %}
{% endblock %}

