{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
{{ super() }}
<!---refers to a css that contains styling for register page
<link rel="stylesheet" href="style.css">
-->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css', _external=True) }}">

<!--js doc-->
<script type="text/javascript" src="{{url_for('static', filename='quiz_edit_submit.js')}}"></script>

<style>
    .grade {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        font-weight: 600;
    }
    .common {
        color:maroon;
        font-weight: 800;
    }
</style>

{% endblock %}

{% block title %}
Start Quiz Edit
{% endblock %}

{% block body %}
{% block content %}

<div class = "grade"> 

    <br>

    <h1> Here's your grade of each answer.</h1>

    <br>

    {% for key in grade_dict %} 

    <h3>Your answer for question {{ str(key)[0] }} : <span class = "common">{{ Answer.query.filter_by(id=(str(key).split(',')[0])).first().Answer }}</span></h3>
    <h3>Mark: <span class = "common">{{ str(key).split(',')[1] }}</span> </h3>
    <h3>Comment: <span class = "common">{{ str(key).split(',')[2] }}</span></h3>

    <br>
    <hr>
    <br>
    {% endfor %}

</div>

<br><br><br><br><br>
{% endblock %}
{% endblock %}

