{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block head %}
{{ super() }}
<!---refers to a css that contains styling for register page
<link rel="stylesheet" href="style.css">
-->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css', _external=True) }}">

{% endblock %}

{% block title %}
Start Quiz Edit
{% endblock %}

{% block body %}
{{ super() }}
{% endblock %}

{% block content %}

{% for key in unique_quizsets %}
<h3>The quiz you have taken is : "{{ QuizSet.query.filter_by(id=key).first().title }}"</h3>
<p>Quiz ID: {{ QuizSet.query.filter_by(id=key).first().quiz_id }}</p>
<p>Teacher: {{ User.query.filter_by(id=QuizSet.query.filter_by(id=key).first().author_id).first().name }}</p>


<!--get a list of marks under current student, current quizset-->
{% for answers in Answer.query.filter_by(quizset_id=key, student_id=current_user.id).all() %}
<p hidden>{{ all_marks.append(Grade.query.filter_by(answer_id = str(answers).split(',')[1]).first().mark) }}</p>

{% endfor %}

<!--get a list of student ids under current quizset-->
{% for allAnswers in Answer.query.filter_by(quizset_id=key).all() %}
{% for students in str(allAnswers).split(',')[0] %}
<p hidden>{{ all_students_id.append(students) }}</p>
{% endfor %}
{% endfor %}


<p>Your mark is : {{ calcualte_total_mark(all_marks) }}</p>

<p>Your ranking is : {{ calculate_ranking(all_students_id, key, calcualte_total_mark(all_marks)) }} / {{ len(unique_items(all_students_id)) }} </p>


<hr>

{% endfor %}


{% endblock %}